#product-filter fieldset{
    border-color:#D4AF37!important;
    border-width: 3px;

}

#product-filter svg{
    color: #D4AF37!important;
}

#product-filter label{
    color: #D4AF37!important;
}

#product-filter{
    margin-top: 15px;
}

#product-filter hr{
    color:black;
}