#product-filter fieldset{
    border-color:green!important;
    border-width: 3px;

}

#product-filter svg{
    color: green!important;
}

#product-filter label{
    color: green!important;
}

#product-filter{
    margin-top: 15px;
}

#product-filter hr{
    color: lightgreen;
}