.light-mode #cart-content-button{
    background-color: #D4AF37;
}

.light-mode #cart-content-button:hover{
    background-color:#D4AF37;
}

.dark-mode #cart-content-button{
    background-color:green;
}

.dark-mode #cart-content-button:hover{
    background-color:green;
}