#navbar .col-md-12 div:hover{
 /* border-bottom: 1px solid rgb(42, 226, 42); */
 cursor: pointer;
}


#navbar .col-md-12 div a{
    /* border-bottom: 1px solid rgb(42, 226, 42); */
    cursor: pointer;
    color: white ;
    text-decoration: none;
}

#navbar .col-md-12 div a:hover{
    /* border-bottom: 1px solid rgb(42, 226, 42); */
    cursor: pointer;
    text-decoration: none;
}
   

#navbar .col-md-12 div::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: width .3s;
}


#navbar .col-md-12 div:hover::after {
    width: 100%;
}

.light-mode #navbar .col-md-12 div::after{
    background: #D4AF37;
}

.light-mode #navbar .col-md-12 div a:hover{
    color: #D4AF37;
}

.light-mode #navbar .col-md-12 div:hover{
    color: #D4AF37;
}

.dark-mode #navbar .col-md-12 div::after{
    background: green;
}

.dark-mode #navbar .col-md-12 div a:hover{
    color:green;
}

.dark-mode #navbar .col-md-12 div:hover{
    color:green
}



