#navbar .col-md-12 div:hover{
 /* border-bottom: 1px solid rgb(42, 226, 42); */
 cursor: pointer;
 color: #D4AF37;
}


#navbar .col-md-12 div a{
    /* border-bottom: 1px solid rgb(42, 226, 42); */
    cursor: pointer;
    color: white ;
    text-decoration: none;
}

#navbar .col-md-12 div a:hover{
    /* border-bottom: 1px solid rgb(42, 226, 42); */
    cursor: pointer;
    color: #D4AF37 ;
    text-decoration: none;
}
   

#navbar .col-md-12 div::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #D4AF37;
    transition: width .3s;
}


#navbar .col-md-12 div:hover::after {
    width: 100%;
}



