#product-card:hover{
    cursor: pointer;
}

.light-mode #product-card:hover{
    border: 4px solid #D4AF37 ;
}

.dark-mode #product-card:hover{
    border: 4px solid green ;
}

 .light-mode #product-card button {
    color:#D4AF37!important;
}

.dark-mode #product-card button {
    color: green!important;
}

.light-mode #product-card button:hover {
    border: 1px solid #D4AF37;
}

.dark-mode #product-card button:hover {
    border: 1px solid green;
}
